<li>
  <a> Offset: </a>
</li>
<li>
<form class="navbar-form">
  <div class="form-group">
    <div class="btn-group" role="group" aria-label="Offset">
      <button type="button" class="btn btn-secondary">8 years</button>
      <button type="button" class="btn btn-secondary">4 years</button>
      <button type="button" class="btn btn-secondary">1 year</button>
      <button type="button" class="btn btn-secondary active">None</button>
    </div>
  </div>
</form>
</li>

<li>
<form class="navbar-form">
  <div class="form-group">
    <div class="btn-group" role="group" aria-label="Offset">
      <button type="button" class="btn btn-primary">&laquo; Older</button>
      <button type="button" class="btn btn-primary">Newer &raquo;</button>
    </div>
  </div>
</form>
</li>
