<li>
  <a> Offset: </a>
</li>
<li>
<form class="navbar-form">
  <div class="form-group">
    <div class="btn-group" role="group" aria-label="Offset">
      <button type="button" class="btn btn-secondary"
        *ngFor="let offsetKey of orderedOffsetKeys"
        [class.active]="offsetKey===(activeOffsetKey$ | async)"
        (click)="offsetClicked(offsetKey)">
        {{offsetMap[offsetKey].text}}
      </button>
    </div>
  </div>
</form>
</li>

<li>
<form class="navbar-form">
  <div class="form-group">
    <div class="btn-group" role="group" aria-label="Offset">
      <button type="button" class="btn btn-primary">&laquo; Older</button>
      <button type="button" class="btn btn-primary">Newer &raquo;</button>
    </div>
  </div>
</form>
</li>
