.tweet-wrapper{
  position: relative;
  min-width: 220px;
  .loading-overlay {
    background: rgba(230, 230, 230, 0.8);

    z-index: 10;
    position: absolute;
    width: 100%;
    min-height: 200px;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tweet-container {
    height: 100%;
  }
}
