
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

ng2app {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;

  .content {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;

    .compared-tweets {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
    }
  }
}

div.header, div.footer {
  background: #cbcbcb;
}
