<div class="header-inner">
  <a routerLink="/"><img src="./whitehouse.png" /></a>
  <h1 class="title">
    <a routerLink="/">Modern Day Presidential Tweeting</a>
  </h1>
  <div>
    <a href="javascript:void(0)" class="info-button" (click)="showAboutModal()">
      <img src="./info-button-300px.png" />
    </a>
  </div>
</div>

<div class="modal fade about-modal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" #aboutModal>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">About This Site</h3>
      </div>
      <div class="modal-body">
        <tweet style="float: right" idStr="881281755017355264" [options]="miniTweetOptions"></tweet>
        <p class="lead">
          On July 1<sup>st</sup>, 2017, the 45<sup>th</sup> president of the United
          States of America made a bold claim.
        </p>
        <p>His critics claimed that his
          stream-of-consciousness, spontaneous and often angry tweeting habit did
          not have the gravitas appropriate for official communication to the nation
          from a standing president. In other words, the tweets were "unpresidential".
          Donald J Trump responded that not only were they not presidential, but
          were instead "MODERN DAY PRESIDENTIAL".
        </p>
        <p>
          While the debate continues about what is or is not appropriate in a public
          official's Twitter feed, many of us are still seeking to understand what
          world we live in now. To that end, this website is here to help.
        </p>
        <p>
          <em>Modern Day Presidential Tweeting</em> hosts a database of "presidential"
          tweets from the current administration (@realDonaldTrump, @POTUS) and the
          previous one (@BarackObama, @POTUS44), and related retweets. Using the
          site's interface you can compare for yourself and figure out what the
          "modern day" in "modern day presidential" means.
        </p>

        <hr />
        <h4> Contact Information </h4>
        <p>
          You can get in touch with the page's owner as /u/Blackshell on
          <a href="https://www.reddit.com/user/Blackshell">Reddit</a>,
          or check out the source code for this site itself on
          <a href="https://github.com/fsufitch/prez-tweet">Github</a>.
      </div>
    </div>
  </div>
</div>
