<div class="header-inner">
  <img src="./whitehouse.png" />
  <h1 class="title">
    Modern Day Presidential Tweeting
  </h1>
  <div>
    <a href="#" class="btn btn-default" (click)="showAboutModal()">
      <span class="glyphicon glyphicon-info-sign"></span>
    </a>
  </div>
</div>

<div class="modal fade about-modal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" #aboutModal>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">About This Site</h3>
      </div>
      <div class="modal-body">
        <tweet style="float: right" idStr="881281755017355264" [options]="miniTweetOptions"></tweet>
        <p>
          All work and no play makes Jack a dull boy.
          All work and no play makes Jack a dull boy.
          All work and no play makes Jack a dull boy.
          All work and no play makes Jack a dull boy.
          All work and no play makes Jack a dull boy.
          All work and no play makes Jack a dull boy.
          All work and no play makes Jack a dull boy.
          All work and no play makes Jack a dull boy.
          All work and no play makes Jack a dull boy.
          All work and no play makes Jack a dull boy.
          All work and no play makes Jack a dull boy.
          All work and no play makes Jack a dull boy.
          All work and no play makes Jack a dull boy.
          All work and no play makes Jack a dull boy.
          All work and no play makes Jack a dull boy.
          All work and no play makes Jack a dull boy.
          All work and no play makes Jack a dull boy.
          All work and no play makes Jack a dull boy.
        </p>
        <p>
          The quick brown fox jumped over the lazy dog.
          The quick brown fox jumped over the lazy dog.
          The quick brown fox jumped over the lazy dog.
          The quick brown fox jumped over the lazy dog.
          The quick brown fox jumped over the lazy dog.
          The quick brown fox jumped over the lazy dog.
          The quick brown fox jumped over the lazy dog.
          The quick brown fox jumped over the lazy dog.
          The quick brown fox jumped over the lazy dog.
          The quick brown fox jumped over the lazy dog.
          The quick brown fox jumped over the lazy dog.
          The quick brown fox jumped over the lazy dog.
          The quick brown fox jumped over the lazy dog.
          The quick brown fox jumped over the lazy dog.
          The quick brown fox jumped over the lazy dog.
          The quick brown fox jumped over the lazy dog.
        </p>

      </div>
    </div>
  </div>
</div>
