.header-inner {
  background: #811;
  color: white;

  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;

  justify-content: flex-start;
  align-items: center;

  img {
    height: 64px;
  }

  h1 {
    flex: 1;
    margin-left: 1em;
  }
}


.about-modal .modal-body {
  tweet {
    float: right;
    margin: 10px;
  }
}
